.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navBar {
  border: solid black;
  width: 20svw;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

.forecast {
  border: solid black;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 75svw;
}

.hrForecast {
  border: solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  margin-top: 2rem;
  width: 15svw;
  /* height: 30svh; */
}

.convertTemp {
  /* border: solid green; */
  width: 25svw;
  padding-bottom: 1rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.convertTemp div {
  border: solid black;
  border-radius: 8px;
}

.convertTemp div:hover {
  background-color: green;
}

.weatherIcon {
  width: 112px;
  height: 96px;
}
